#abt {
    background-color: skyblue;
    color: blue;
}

#cou {
    background-color: skyblue;
    color: blue;
}

#int {
    background-color: skyblue;
    color: blue;
}

#sbt {
    background-color: skyblue;
    color: blue;
}

#dj {
    background-color: rgb(233, 238, 240);
    color: rgb(12, 141, 210);

}

#highlight {
    color: rgb(12, 141, 210);

}

#high {
    background-color: rgb(233, 238, 240);
}